/* ==========================================================================
   So much swagger, it hurts (...slow CPUs!)
   CSS adapted from aokp.co for Chevaline Alpha
   ========================================================================== */

#header {
  z-index: 12;
}
#charger-swagger {
  position: fixed;
  z-index: -1;
  height: 100%;
  width: 100%;
}
.charger-swagger-visible {
  z-index: 11 !important;
}
.charger-pulse {
  //background: #E4418B;
  -moz-animation: phasepulse 6s ease-in-out infinite;
}
#pinkglow {
  z-index: 2;
  position: fixed;
  width: 100%;
  height: 100%;
  background: #E4418B;
  -moz-animation: phaseglow 8s ease-in-out infinite;
}
.swag-element {
  z-index: 11;
  display: block;
  position: absolute;
  bottom: 0;
  overflow: visible;
  width: 350px;
  height: 300px;
}
.swag-img {
  position: absolute;
  right: 0px;
}
.x1 {
  -moz-animation: moveswagfedora 8s linear infinite;
}
.x2 {
  -moz-animation: moveswag 12s linear infinite;
}
.x3 {
  -moz-animation: moveswagfedora 14s linear infinite;
}
.x4 {
  -moz-animation: moveswag2 18s linear infinite;
}
.x5 {
  -moz-animation: moveswagfedora 24s linear infinite;
}
@-moz-keyframes phaseglow {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .3;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes phasepulse {
  0% {
    background-color: #F0F0F0;
  }
  10% {
    background-color: #8070F0;
  }
  20% {
    background-color: #E4418B;
  }
  30% {
    background-color: #8ef372;
  }
  40% {
    background-color: #f372dc;
  }
  50% {
    background-color: #72f3ef;
  }
  60% {
    background-color: #f37272;
  }
  70% {
    background-color: #b3f372;
  }
  80% {
    background-color: #72aef3;
  }
  90% {
    background-color: #bb72f3;
  }
  100% {
    background-color: #F0F0F0;
  }
}
@-moz-keyframes moveswag1 {
  0% {
    -moz-transform: translate(0px,200px) rotate(0deg) scale(0.5);
  }
  50% {
    -moz-transform: translate(100px,-600px) rotate(360deg) scale(0.7);
  }
  100% {
    -moz-transform: translate(0px,-1200px) rotate(720deg) scale(0.4);
  }
}
@-moz-keyframes moveswag2 {
  0% {
    -moz-transform: translate(0px,200px) rotate(0deg) scale(0.4);
  }
  50% {
    -moz-transform: translate(-50px,-700px) rotate(-360deg) scale(0.6);
  }
  100% {
    -moz-transform: translate(0px,-1400px) rotate(-720deg) scale(0.8);
  }
}
@-moz-keyframes moveswag3 {
  0% {
    -moz-transform: translate(0px,200px) rotate(0deg) scale(1);
  }
  50% {
    -moz-transform: translate(75px,-800px) rotate(360deg) scale(1.3);
  }
  100% {
    -moz-transform: translate(0px,-1600px) rotate(720deg) scale(0.9);
  }
}
