/* ==========================================================================
   So much swagger, it hurts (...slow CPUs!)
   CSS adopted from aokp.co
   ========================================================================== */

#header {
  z-index: 12;
}
#charger-swagger {
  position: fixed;
  z-index: -1;
  height: 100%;
  width: 100%;
  display: none;
}
.charger-swagger-visible {
  z-index: 11 !important;
}
.charger-pulse {
  background: #E4418B;
  -moz-animation: phasepulse 6s ease-in-out infinite;
}
#pinkglow {
  z-index: 2;
  position: fixed;
  width: 100%;
  height: 100%;
  background: #E4418B;
  -moz-animation: phaseglow 8s ease-in-out infinite;
}
.swag-element {
  z-index: 11;
  display: block;
  position: absolute;
  bottom: 0;
  width: 200px;
  height: 200px;
}
.swag-img {/*
  width: 100%;
  height: 100%;*/
}
.x1 {
  -moz-animation: moveswagfedora 8s linear infinite;
}
.x2 {
  -moz-animation: moveswag 12s linear infinite;
}
.x3 {
  -moz-animation: moveswagfedora 14s linear infinite;
}
.x4 {
  -moz-animation: moveswag2 18s linear infinite;
}
.x5 {
  -moz-animation: moveswagfedora 24s linear infinite;
}
@-moz-keyframes phaseglow {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .3;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes phasepulse {
  0% {
    background-color: #F0F0F0;
  }
  25% {
    background-color: #8070F0;
  }
  50% {
    background-color: #E4418B;
  }
  75% {
    background-color: #8070F0;
  }
  100% {
    background-color: #F0F0F0;
  }
}
@-moz-keyframes moveswag {
  0% {
    -moz-transform: translateY(200px) rotate(0deg) scale(0.5);
    opacity: 1.0;
  }
  50% {
    -moz-transform: translateY(-50%) rotate(360deg) scale(0.6);
  }
  75% {
    -moz-transform: translateY(-100%) rotate(420deg) scale(0.6);
    opacity: 1.0;
  }
  100% {
    -moz-transform: translateY(-150%) rotate(720deg) scale(0.4);
    opacity: 0.0;
  }
}
@-moz-keyframes moveswag2 {
  0% {
    -moz-transform: translateY(0) rotate(0deg) scale(0.4);
  }
  50% {
    -moz-transform: translateY(-600px) rotate(-360deg) scale(0.3);
  }
  100% {
    -moz-transform: translateY(-1200px) rotate(-720deg) scale(0.2);
  }
}
@-moz-keyframes moveswagfedora {
  0% {
    -moz-transform: translateY(0) rotate(0deg) scale(1);
  }
  50% {
    -moz-transform: translateY(-600px) rotate(360deg) scale(1.2);
  }
  100% {
    -moz-transform: translateY(-1200px) rotate(720deg) scale(0.8);
  }
}
